@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
html{
    scroll-behavior: smooth ;
}


.menus.sticky{
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
}
body{
    height: 150vw;
    font-family: "poppins", sans-serif ;
    background-color: #0d1e2d;
     
}

.label{
    background-color: #273746;
    color: lightgray;
    padding: 0 1rem;
    border-left: 7px solid brown;
}

img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.logo{
    display: flex;
    align-items: center;
}
.logo h2{
    width: 50px;
}
nav ul{
    display:  flex;
    align-items: center;
    list-style: none ;
}

nav ul li a{
    color: beige;
    text-decoration: none; 
    padding: 0.4rem 1rem;
    border-radius: 2px;
    font-size: 1.3rem;
}
form input{
    width: 650px;
    height: 40px;
    outline: none;
    border: 2px black;
    border-radius: 20px;
    padding: 0.3rem 1.5rem;
    font-family: inherit;
    background-color: lightgrey;
}
@media screen and (max-width: 425px) {
    form input{
        width: 150px;
    }
    .logo h2{
        display: none;
        
    }
    .img-fluid{
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 768px) {
    form input{
        width: 150px;
        overflow: hidden;
    }
}
@media screen and (max-width:1024px) {
    form input{
        width: 150px;
        overflow: hidden;
    }
}
/* ==================================================================*/
.fullNav ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

.fullNav ul li {
    margin: 0;
}

.fullNav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.fullNav ul li a:hover {
    background-color: #575757;
}

/* Side navigation (hidden by default) */
.sidenav {
    display: none;
    position: fixed;
    z-index: 1000;
    height: 100%;
    color: white;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    top: 0;
    left: 0;
  
}
.sidenav ul{
    display: flex;
    flex-direction: column;
   
}

.sidenav ul li{
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #575757;
    color: #f1f1f1;

}

/* Hamburger icon */
.sidenavToggle {
    font-size: 50px;
    cursor: pointer;
    color: white;
    display: none; /* Hidden by default */
}

/* Media Query for mobile responsiveness */
@media (max-width: 768px) {
    .fullNav {
        display: none; /* Hide the full navbar links on small screens */
    }

    .sidenavToggle {
        display: block; /* Show the hamburger icon on small screens */
    }

    .sidenav {
        
        display: block; /* Make the side navigation visible on small screens */
    }
}
@media (max-width: 1024px) {
    .fullNav {
        display: none; /* Hide the full navbar links on small screens */
    }

    .sidenavToggle {
        display: block; /* Show the hamburger icon on small screens */
    }

    .sidenav {
        
        display: block; /* Make the side navigation visible on small screens */
    }
}

    .closebtn{
        top: 0;
        left: 0;
        font-size: 50px;
        text-decoration: none;
        color: #ddd;

    }

/*--------------------menu-----------------*/
.menus{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 1rem 0;
    }
    .menus .logo img{
    width: 100px;
    height: 100px;
    }
    nav{
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }
    /*===============================================================*/
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        /* overflow: hidden; */
        background-position: center center;
        background-size: cover;
        /* background-image: url('images/treenature.avif'); */
        transition: all 0.5s ease-in-out;
    }
    
    header::before{
        content: "";
        position: absolute;
        height: 100vh;
        top: 0;
        left: 0;
        width: 100%;
       background-color: rgba(0, 0, 0, 0.7);
        z-index: -1;
    
    }
    
.slider-container{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 70vh;
    width: 80vw;
    position: relative;
    overflow: hidden;
    border: 3px solid #ddd;
    border-radius: 5px;
}
.slide{
    opacity: 0;
    transform: translateX(-25%);
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 1s ease-in-out;
}
.slide.active{
    opacity: 1;
    transform: translateX(-0%);

}

.slide-content{
    position: relative;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: rgba(0, 0, 0, 0.23);
    /* color: white; */
}

.slide-content.active{
     opacity: 1; 
    transform: translate(-50%, -50%); 
}
.slide-content h2{
    color: white;
    font-size: 6rem;
}
.slide-content .movie-desc{
    color: white;
    padding: 1rem;
    width: 50%;
}

.movie-details{
    color: white;
    justify-content: space-between;
    width: 50%;
    margin-left: 1rem;
    display: flex;
    margin-bottom: 10px;
}
.movie-details .category{
    color: white;
    background: #eb984e;
    padding: 0.5rem;
    border-radius: 20px;
}
.movie-details .year{
    color: white;
    background: rgb(84, 135, 7);
    padding: 0.5rem;
    border-radius: 20px;
}
.slide-content button{
    padding: 0.7rem;
    outline:  none;
    border: none;
    /* margin: 2rem 1rem; */
    background-color: brown;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 190px;
}

@media screen and (max-width:425px) {
    header{
        height: 100%;
    }
    .slide{
       
        height: 100vw;
        width: 100vw;
        padding-bottom: 30px;
    }
    .slide-content h2, .movie-title{
        font-size: 2rem;
        white-space: nowrap;
        
    }
    .slide-content{
       max-height: fit-content;
        padding: 0 2px;
        top: 25%;
        width: 100vw;
    }
    .slider-container{
        height: 100vw;
    }

    .movie-details{
        color: white;
        justify-content: space-between;
        width: 50%;
        max-width: 85vw;
        gap: 2px;
        display: flex;
        margin-bottom: 10px;
    }
    .movie-details .category{
        color: white;
        background: #eb984e;
        border-radius: 10px;
        white-space: nowrap;
        font-size: 12px;
    }
    .movie-details .year{
        color: white;
        background: rgb(84, 135, 7);
        border-radius: 10px;
        font-size: 12px;
    }
}
@media screen and (max-width:768px) {
    header{
        height: 100%;
    }
    .slide{
       
        height: 100vw;
        width: 100vw;
        padding-bottom: 30px;
    }
    .slide-content h2, .movie-title{
        font-size: 2rem;
        white-space: nowrap;
        
    }
    .slide-content{
       max-height: fit-content;
        padding: 0 2px;
        top: 25%;
        width: 100vw;
    }
    .slider-container{
        height: 100vw;
    }

    .movie-details{
        color: white;
        justify-content: space-between;
        width: 50%;
        max-width: 85vw;
        gap: 2px;
        display: flex;
        margin-bottom: 10px;
    }
    .movie-details .category{
        color: white;
        background: #eb984e;
        border-radius: 10px;
        white-space: nowrap;
        font-size: 12px;
    }
    .movie-details .year{
        color: white;
        background: rgb(84, 135, 7);
        border-radius: 10px;
        font-size: 12px;
    }
}
@media screen and (max-width:1024px) {
    header{
        height: 100%;
    }
    .slide{
       
        height: 100vw;
        width: 100vw;
        padding-bottom: 30px;
    }
    .slide-content h2, .movie-title{
        font-size: 2rem;
        white-space: nowrap;
        
    }
    .slide-content{
       max-height: fit-content;
        padding: 0 2px;
        top: 25%;
        width: 100vw;
    }
    .slider-container{
        height: 100vw;
    }

    .movie-details{
        color: white;
        justify-content: space-between;
        width: 50%;
        max-width: 85vw;
        gap: 2px;
        display: flex;
        margin-bottom: 10px;
    }
    .movie-details .category{
        color: white;
        background: #eb984e;
        border-radius: 10px;
        white-space: nowrap;
        font-size: 12px;
    }
    .movie-details .year{
        color: white;
        background: rgb(84, 135, 7);
        border-radius: 10px;
        font-size: 12px;
    }
}
/*====================================================*/
.arrow{
    position: absolute;
    background: rgba(0, 0, 0, 0.07);
    
    color: black;
    padding: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 5%;
    z-index: 5;
    
}
.arrow{
    font-size: 1.5rem;
    border-radius: 3px;
    border-color: #f1f1f1;
}
.arrow:focus{
    outline: none;
}
.left-arrow {
    left: 0px;
}
.right-arrow {
    right: 0px;
}
button{
    outline: none;
    border: none;
}
.container{
    max-width: 1440px;
    margin-left: 10px;
    padding: 0 1rem;
}
.label{
    margin: 2rem 0;
}
.movies-details,  
.Tv-details{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 2rem;
}
.movies,
.tvShows{
    width: 325px;
    height: 500px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
    cursor: pointer;
    transition: all 0.4 ease-in;
    background-color: #283c4f;;
    position: relative;
    overflow: hidden;
   
}
.movies img{
    display: block;
    width: 335px;
    height: 400px;
   
}

.movie-title{
    font-size: 25px;
    font-family: inherit;
    margin: 1rem 1rem;
    color: white;

}

.movie-desc{
display: flex;
justify-content: space-between;
background-color: rgb(117, 13, 13);
color: white;
position: absolute;
bottom: 0.1;
width: 100%;
transform: translateY(70%);
}
.movie-desc p{
    padding: 0.5rem 0.5rem;
    margin-top: 20px;
    margin-bottom: 40px;
}

.movies:hover .movie-desc{
    transform: translate(0%);
    transition: all 0.5s ease-in;
}
.tvShows:hover .movie-desc{
    transform: translate(0%);
    transition: all 0.5s ease-in;
}
@media screen and (max-width: 425px) {
    .movie-desc{
        display: block;
        top: 3;
        width: 100vw;
        max-width: 100vw;
        margin-bottom: 20px;
        font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    .movie-desc{
        display: block;
        margin-top:20px;
        width: 100vw;
        max-width: 100vw;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .movies-details,  
.Tv-details{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 2rem;
}
}

/*===========================================================*/
/*pagination*/
.pagination{
    padding: 4rem 0;

}
.pagination ul{
    display: flex;
    list-style: none;
}
.pagination ul li{
    margin: 0 0.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.895);
    color: white;
    padding: 0.17rem 1.5rem;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease-in ;
}

.pagination ul li:nth-child(1){
    margin-left: 0 ;
}
.pagination ul li:active{
    transform: scale(1.5);
}
a{
    color: brown;
}
@media screen and (max-width: 425px) {
    .pagination{
        width: 100%;

    }
    .pagination ul{
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .pagination{
        width: 100%;

    }
    .pagination ul{
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 1024px) {
    .pagination{
        width: 100%;

    }
    .pagination ul{
        max-width: 750px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}